$menu_clr: white;
$menu_hover: #5d5d5d;
$border_bottom: #828282;

.sidebar {
  background: $menu_hover;
  position: fixed;
  height: 100%;
  width: 60px;
  color: white;
  padding: 0;
}
.content {
  margin-left: 60px;
  width: 100%;
  padding: 20px 10px 10px 10px;
}
.menu_item {
  color: $menu_clr;
  padding: 0 5px;
  width: 50px;
  margin: 0 5px;
  float: left;
  border-bottom: 1px solid $menu_hover;
  &:hover {
    cursor: pointer;
    color: $menu_hover;
    background: $menu_clr;
  }
}

.divider {
  margin-top: 20px;
}

// ---------------------------------------------------------

a:hover {
  cursor: pointer;
}

.red {
  color: rgb(219, 126, 126);
}

.header {
  background-color: white;
  border: 1px solid $border-color;
  border-radius: 2px 2px 0 0;
  padding: 5px;
}

.gear {
  text-align: right!important;
  padding-right: 10px!important;
}

.gearCheck {
  margin: 3px;
}

.gearHeader {
  margin-top: 12px;
}

.content_table {
  background-color: white;
  border: 1px solid $border-color;
  border-top: none;
  border-radius: 0 0 2px 2px;
  padding: 5px;
}

.sticky {
  position: relative;
  z-index: 3;
}

.top_m_5 {
  margin-top: 5px;
}

.footer {
  background-color: white;
  border-top: 1px solid $border-color;
}

.divider {
  float: left;
  width: 100%;
}

.btn_info_2 {
  background: #fff;
  border-radius: 5px;
  border: 1px solid #416893;
  padding: 5px 15px;
  color: #416893;
  &:hover {
    background: #416893;
    color: white;
    cursor: pointer;
  }
}
.plus_block {
  background: #3d809a;
  height: 2px;
  &:hover {
    cursor: pointer;
    background: #37a61e;
  }
}
.plus_btn {
  right: 10px;
  margin-top: -12px;
  border-radius: 50px;
  border: 1px solid #3d809a;
  background: #3d809a;
  color: white;
  padding: 2px 9px;
  position: absolute;
  &:hover {
    cursor: pointer;
    border: 1px solid #37a61e;
    background: #37a61e;
    color: white;
  }
}
.plus_block_col {
  background: #3d809a;
  height: 2px;
  &:hover {
    cursor: pointer;
    background: #37a61e;
  }
}
.plus_btn_col {
  border: 1px solid #3d809a;
  background: #3d809a;
  color: white;
  padding: 5px 11px;
  float: left;
  &:hover {
    cursor: pointer;
    border: 1px solid #37a61e;
    background: #37a61e;
    color: white;
  }
}
.btn_select_type {
  width: 100px;
  height: 100px;
  &:hover {
    background: #a1b8bb;
    cursor: pointer;
  }
}
.panel_react {
  margin-bottom: 1px !important
}

.element_items {

}

.item {
  float: left;
  margin-right: 10px;
}


/* form render */
.plus_button {
  background: #dcdcdc;
  text-align: center;
  color: white;
  font-size: 20px;
  &:hover {
    cursor: pointer;
    background: #bbbbbb;
  }
}