$left_b: #182f4c;

body {
    color: #2c2c2c;
    font-size: 14px;
    font-family: Montserrat,Helvetica Neue,Arial,sans-serif;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}

html, body {
    width: 100%;
    height: 100%;
}

.wrapper {
    position: relative;
    top: 0;
    height: 100%;
}

.left_b {
    & {
        background: $left_b;
        color: white;
        position: fixed;
        top: 0;
        height: 100%;
        bottom: 0;
        width: 260px;
        left: 0;
        z-index: 2;
    }
    .logo {
        & {
            position: relative;
            padding: .5rem .7rem;
            z-index: 4;
        }
        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            right: 15px;
            height: 1px;
            width: calc(100% - 30px);
            background-color: hsla(0,0%,100%,.5);
        }
    }
    .logo-mini {
        opacity: 1;
        float: left;
        width: 34px;
        text-align: center;
        margin-left: 10px;
        margin-right: 12px;
    }
    .logo-version {
        font-size: 0.8em !important;
        padding: 0 !important;
        line-height: 12px !important;
        color: #6e8bad !important;
    }
    .simple-text, .logo .simple-text {
        text-transform: uppercase;
        padding: .5rem 0;
        display: block;
        white-space: nowrap;
        font-size: 1em;
        color: #fff;
        text-decoration: none;
        font-weight: 400;
        line-height: 30px;
        overflow: hidden;
    }
    .nav {
        margin-top: 20px;
        display: block;
    }
    .nav {
        li>a {
            color: #fff;
            display: block;
            text-decoration: none;
            position: relative;
            text-transform: uppercase;
            cursor: pointer;
            font-size: .7142em;
            padding: 10px 8px;
            line-height: 1.625rem;
        }

        li>a:hover {
            background: white;
            color: $left_b;
        }

        li>a>p {
            margin: 0;
            padding: 0;
        }
    }
}

.sidebar-wrapper {
    position: relative;
    height: calc(100vh - 75px);
    overflow: auto;
    width: 260px;
    z-index: 4;
    padding-bottom: 100px;
}

.main {
    padding: 10px 10px;
    min-height: 100%;
    margin-left: 260px;
    // background-color: #ebecf1;
    transition: all 0.5s cubic-bezier(0.685, 0.0473, 0.346, 1);
}

.dropdown-menu li>a:hover, .dropdown-menu .active>a, .dropdown-menu .active>a:hover {
    color: #fff;
    text-decoration: none;
    background-color: #08c;
}


@media (min-width: 991px) {
    .left_b {
        display: block;
        box-shadow: 0 2px 22px 0 rgba(0,0,0,.2), 0 2px 30px 0 rgba(0,0,0,.35);
    }
}

@media only screen and (min-width : 321px) {
    // смарты, портрет
}

@media (min-width: 600px) and (max-width: 800px) {

}

@media only screen and (min-width : 1224px) {
    // компы и ноуты
}

@media only screen and (min-width : 1824px) {
    // большие экраны
}


/*    */
.editable_label {
  border-bottom: 1px solid #d8d8d8;
  min-height: 40px;
  padding: 10px;
  &:hover {
    cursor: pointer;
  }
}
.f_left {
  float: left;
}
.f_right {
  float: right;
}

.full-screen-dialog {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
  
.full-screen-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
}

/*
    rc-pagination
*/
.rc-pagination {
    font-size: 12px;
    font-family: 'Arial';
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    padding: 0;
  }
  .rc-pagination > li {
    list-style: none;
  }
  .rc-pagination-total-text {
    float: left;
    height: 30px;
    line-height: 30px;
    list-style: none;
    padding: 0;
    margin: 0 8px 0 0;
  }
  .rc-pagination:after {
    content: " ";
    display: block;
    height: 0;
    clear: both;
    overflow: hidden;
    visibility: hidden;
  }
  .rc-pagination-item {
    cursor: pointer;
    border-radius: 6px;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    text-align: center;
    list-style: none;
    float: left;
    border: 1px solid #d9d9d9;
    background-color: #fff;
    margin-right: 8px;
  }
  .rc-pagination-item a {
    text-decoration: none;
    color: #666;
  }
  .rc-pagination-item:hover {
    border-color: #2db7f5;
  }
  .rc-pagination-item:hover a {
    color: #2db7f5;
  }
  .rc-pagination-item-active {
    background-color: #2db7f5;
    border-color: #2db7f5;
  }
  .rc-pagination-item-active a {
    color: #fff;
  }
  .rc-pagination-item-active:hover a {
    color: #fff;
  }
  .rc-pagination-jump-prev:after,
  .rc-pagination-jump-next:after {
    content: "•••";
    display: block;
    letter-spacing: 2px;
    color: #ccc;
    font-size: 12px;
    margin-top: 1px;
  }
  .rc-pagination-jump-prev:hover:after,
  .rc-pagination-jump-next:hover:after {
    color: #2db7f5;
  }
  .rc-pagination-jump-prev:hover:after {
    content: "«";
  }
  .rc-pagination-jump-next:hover:after {
    content: "»";
  }
  .rc-pagination-prev,
  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    margin-right: 8px;
  }
  .rc-pagination-prev,
  .rc-pagination-next,
  .rc-pagination-jump-prev,
  .rc-pagination-jump-next {
    cursor: pointer;
    color: #666;
    font-size: 10px;
    border-radius: 6px;
    list-style: none;
    min-width: 28px;
    height: 28px;
    line-height: 28px;
    float: left;
    text-align: center;
  }
  .rc-pagination-prev a:after {
    content: "‹";
    display: block;
  }
  .rc-pagination-next a:after {
    content: "›";
    display: block;
  }
  .rc-pagination-prev,
  .rc-pagination-next {
    border: 1px solid #d9d9d9;
    font-size: 18px;
  }
  .rc-pagination-prev a,
  .rc-pagination-next a {
    color: #666;
  }
  .rc-pagination-prev a:after,
  .rc-pagination-next a:after {
    margin-top: -1px;
  }
  .rc-pagination-disabled {
    cursor: not-allowed;
  }
  .rc-pagination-disabled a {
    color: #ccc;
  }
  .rc-pagination-options {
    float: left;
    margin-left: 15px;
  }
  .rc-pagination-options-size-changer {
    float: left;
    width: 80px;
  }
  .rc-pagination-options-quick-jumper {
    float: left;
    margin-left: 16px;
    height: 28px;
    line-height: 28px;
  }
  .rc-pagination-options-quick-jumper input {
    margin: 0 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 3px 12px;
    width: 50px;
    height: 28px;
  }
  .rc-pagination-options-quick-jumper input:hover {
    border-color: #2db7f5;
  }
  .rc-pagination-options-quick-jumper button {
    display: inline-block;
    margin: 0 8px;
    font-weight: 500;
    text-align: center;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 15px;
    font-size: 12px;
    border-radius: 6px;
    height: 28px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
  }
  .rc-pagination-options-quick-jumper button:hover,
  .rc-pagination-options-quick-jumper button:active,
  .rc-pagination-options-quick-jumper button:focus {
    color: #2db7f5;
    background-color: #fff;
    border-color: #2db7f5;
  }
  .rc-pagination-simple .rc-pagination-prev,
  .rc-pagination-simple .rc-pagination-next {
    border: none;
    height: 24px;
    line-height: 24px;
    margin: 0;
    font-size: 18px;
  }
  .rc-pagination-simple .rc-pagination-simple-pager {
    float: left;
    margin-right: 8px;
    list-style: none;
  }
  .rc-pagination-simple .rc-pagination-simple-pager .rc-pagination-slash {
    margin: 0 10px;
  }
  .rc-pagination-simple .rc-pagination-simple-pager input {
    margin: 0 8px;
    box-sizing: border-box;
    background-color: #fff;
    border-radius: 6px;
    border: 1px solid #d9d9d9;
    outline: none;
    padding: 5px 8px;
    min-height: 20px;
  }
  .rc-pagination-simple .rc-pagination-simple-pager input:hover {
    border-color: #2db7f5;
  }
  .rc-pagination-simple .rc-pagination-simple-pager button {
    display: inline-block;
    margin: 0 8px;
    font-weight: 500;
    text-align: center;
    -ms-touch-action: manipulation;
        touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 0 8px;
    font-size: 12px;
    border-radius: 6px;
    height: 26px;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;
    transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
    position: relative;
    color: rgba(0, 0, 0, 0.65);
    background-color: #fff;
    border-color: #d9d9d9;
  }
  .rc-pagination-simple .rc-pagination-simple-pager button:hover,
  .rc-pagination-simple .rc-pagination-simple-pager button:active,
  .rc-pagination-simple .rc-pagination-simple-pager button:focus {
    color: #2db7f5;
    background-color: #fff;
    border-color: #2db7f5;
  }
/*
   end rc-pagination
*/

.list-counter-circle {
  list-style: none;
  counter-reset: list;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.list-counter-circle>li {
  position: relative;
  display: block;
  height: 2rem;
  line-height: 2rem;
  margin-left: 1.75rem;
  margin-bottom: .25rem;
  padding-left: 1rem;
  padding-right: .5rem;
  color: #fff;
  background: #7b1fa2;
  white-space: nowrap;
  border-radius: .25rem
}
.list-counter-circle>li:last-child {
  margin-bottom: 0;
}
.list-counter-circle>li::before {
  content: counter(list);
  counter-increment: list;
  position: absolute;
  left: -2rem;
  top: -.25rem;
  bottom: -.25rem;
  width: 2.5rem;
  line-height: 2rem;
  border-radius: 1.25rem;
  border: .25rem solid #fff;
  text-align: center;
  color: #fff;
  background: #7b1fa2;
}